# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List libraries used by Data Scientists
- Making Data Science Tools table

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java
4. SQL
5. Julia

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Matplotlib
3. Pandas
4. SciPy
5. PyTorch
6. Seaborn

| Data Science Tools|
|:-----------------:|
| Matplotlib        |
| Tensorflow        |
| Jupyter Notebook  |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [12]:
# This a simple arithmetic expression to mutiply then add integers
print((3*4) + 5)

17

In [11]:
# This will convert 200 minutes to hours by diving by 60
print(200 % 60)

20

## Author
Farjana Akter